input {
    width: 20px;
    height: 20px;
    
}
.included {
    background-color: yellow;
}
.positionCorrect {
    background-color: green;
}
.challenge{
    width: 300px;
    height: 20px;
}
.box {
    width: 20px;
    width: 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
    margin: 0.1em;
    padding-bottom: 0.1em;
    color: black;
}
#wordInputArea{
    padding: 20px;
    display: block;
    margin: auto 0;
    width: 100vw;
}
body{
    margin:0 auto;
    background-color: white;
   width: 600px;
}
button{
    text-transform: capitalize;

}
.correct {
    background-color: green;
}
.wrongPosition {
    background-color: yellow;
}